@media (max-width: 480px) {

    header {
        min-height: 300px;
    }

    #particles-js {
        max-height: 300px;
    }

    .particles-js-canvas-el {
        max-height: 300px;
    }

    .logoHome {
        max-width: 300px;
    }

    .giantWords {
        font-size: 40px;
        line-height: 45px;
        margin: 25px 0px 0px 0px;
    }

    .mediumWords {
        text-align: center;
        margin: 0 auto;
        font-size: 60px;
        line-height: 70px;
        padding: 0px 0px 20px 0px;
    }

    .moonSide, .moonSideShadow {
        display: none;
    }

    .lightGreenBtn {
        font-size: 14px;
    }

    .bannerBtns li:nth-child(2) {
        display: none;
    }

    .svgObject {
        margin-top: -120px;
    }
    
    .weAreIC {
        background-position: right center;
        background-repeat: no-repeat;
        padding: 120px 0px 20px 0px;
        position: relative;
        background-size: cover;
        margin-bottom: 2em;
        height: 100vh;
    }

    .clientSection {
        padding: 45px 0px 100px 0px;
        background-size: cover;
        background-position: left;
    }

    .clientSection .mediumWords, .clientSection h5 {
        color: #fefefe;
    }

    .item {
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3)) grayscale(0);
    }

    .serviceSection {
        padding: 50px 0px 20px 0px;
        background-size: cover;
        background-position: center;
    }

    .servicesList {
        display: block;
    }

    .servicesList li {
        width: 100%;
        height: 100px;
        display: block;
    }

    .servicesList li.activeTab {
        transform: translateY(-15px) scale(1.05);
    }

    .serviceDescription {
        border-radius: 0px 30px;
        padding: 20px 30px;
        margin-top: 25px;
        box-shadow: 3px 3px 5px #444;
        font-size: 16px;
    }

    .serviceImg img {
        max-width: 130px;
        border-radius: 0px 20px;
        margin: 5px;
        border: 1px solid #b4c539;
    }

    }